{% extends "base.html" %}
{% block content %}

<ul class="list-unstyled" >
    {% for i in weather %}
        <div class="d-flex justify-content-center align-items-center">
            <img src="{{ i }}" alt="Cat Photo" width="240" height="160">
        </div>
        <br>
    {% endfor %}

    <!-- Pagination -->
    {% if page_obj.paginator.num_pages > 1 %}
      <nav aria-label="Page navigation example" class="d-flex justify-content-center align-items-center">

        <ul class="pagination">
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}
              {% if page_obj.number == i %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}"> {{ i }} </a></li>
              {% elif i > page_obj.number|add:"-3" and i < page_obj.number|add:"3" %}
                <li class="page-item"><a class="page-link" href="?page={{ i }}"> {{ i }} </a></li>
              {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>

      </nav>
    {% endif %}
    <!-- END Pagination -->

</ul>

{% endblock %}